body {
    color: yellow;
    background: red;
margin: 0px;
}


header {
    border-bottom:  solid 2px  rgb(15, 15, 15);
padding: 20px;
font-size: 32px;
color:blueviolet;

section:; 
background: rgb(133, 32, 1390 / 80% );
padding-bottom: 80px;
padding-top: 2px;
display: flex;
justify-content: center;

}
.chamada-texto {
    margin-right: 20px;
}


